Repository Leets-Official/Z-FE, pull requests merged in 2024-11, with the labels that each got.

#15 #12 메인화면UI
  public/mock/content.jpeg
  public/mock/content2.png
  public/mock/content3.jpeg
  public/mock/profile1.png
  public/mock/profile2.png
  public/mock/profile3.png
  src/app/(route)/layout.tsx
  src/app/(route)/page.tsx
  src/app/_types/icons.ts
  src/app/_types/main.ts
  src/app/components/common/layouts/SideBar.tsx
  src/app/components/common/ui/Button.tsx
  src/app/components/common/ui/Icons.tsx
  src/app/components/common/ui/Input.tsx
  src/app/components/main/MainContainer.tsx
  src/app/components/main/MainImages.tsx
  src/app/components/main/MainPost.tsx
  src/app/components/main/MainUpload.tsx
  src/app/constants/common.ts
  src/app/constants/iconPath.ts
  src/app/constants/main.ts
  src/app/constants/styles.ts
  src/app/data/mockPost.ts
  src/app/styles/globals.css
  src/app/types/main.ts
  src/app/utils/getColoredIcon.ts
  tailwind.config.ts
Labels: ✨ Feature, 🎨 Html&css

#20 #19 검색페이지UI
  src/app/(route)/search/page.tsx
  src/app/_types/post.ts
  src/app/_types/search.ts
  src/app/components/search/NoSearch.tsx
  src/app/components/search/SearchContainer.tsx
  src/app/components/search/SearchPeople.tsx
  src/app/components/search/SearchPosts.tsx
  src/app/constants/iconPath.ts
  src/app/constants/search.ts
  src/app/constants/styles.ts
  src/app/data/mockUsers.ts
  tailwind.config.ts
Labels: ✨ Feature, 🎨 Html&css

#24 #10 카카오로그인마무리
  .prettierRc
  src/app/(route)/(auth)/login/page.tsx
  src/app/(route)/(auth)/welcome/page.tsx
  src/app/_types/search.ts
  src/app/api/authApis/kakaoSever/route.tsx
  src/app/api/authApis/oauth/kakao/success/route.ts
  src/app/api/login/kakao/route.ts
  src/app/api/redirect/route.ts
  src/app/api/signup/route.ts
  src/app/components/auth/LoginGetNicknameTag.tsx
  src/app/components/auth/LoginStartForm.tsx
  src/app/components/auth/WelcomeSignup.tsx
  src/app/components/search/SearchPeople.tsx
  src/app/constants/iconPath.ts
  src/app/data/mockUsers.ts
  src/app/utils/setToken.ts
Labels: 📬 API, ✨ Feature

#22 #18 내프로필,상대프로필 ui
  package-lock.json
  package.json
  src/app/(route)/page.tsx
  src/app/components/profile/EditProfileModal.tsx
  src/app/components/profile/MyProfile.tsx
  src/app/components/profile/OtherProfile.tsx
Labels: ✨ Feature, 🎨 Html&css

#23 #21 게시글수정삭제UI
  src/app/(route)/profile/page.tsx
  src/app/components/common/layouts/SideBar.tsx
  src/app/components/edit/PostDeleteModal.tsx
  src/app/components/edit/PostEditModal.tsx
  src/app/components/main/MainPost.tsx
  src/app/components/main/MainUpload.tsx
  src/app/components/post/RepostModal.tsx
  src/app/components/profile/MyProfile.tsx
  src/app/constants/common.ts
  src/app/constants/iconPath.ts
  src/app/constants/post.ts
  src/app/constants/styles.ts
  src/app/hooks/useAutoResize.ts
  src/app/hooks/useIamgeUpload.ts
Labels: ✨ Feature, 🎨 Html&css

#26 Feat 25 메세지UI
  src/app/(route)/messages/chat/[user]/page.tsx
  src/app/(route)/messages/page.tsx
  src/app/(route)/page.tsx
  src/app/_types/chat.ts
  src/app/components/common/ui/Input.tsx
  src/app/components/messages/ChatPreviews.tsx
  src/app/components/messages/ChattingContainer.tsx
  src/app/components/messages/MessagesContainer.tsx
  src/app/components/messages/NewChatModal.tsx
  src/app/components/messages/NewChatUsers.tsx
  src/app/components/search/NoSearch.tsx
  src/app/components/search/SearchContainer.tsx
  src/app/constants/iconPath.ts
  src/app/constants/messages.ts
  src/app/constants/styles.ts
  src/app/data/mockChats.ts
Labels: ✨ Feature, 🎨 Html&css

#31 #29 게시글crud api 연결
  next.config.mjs
  package-lock.json
  package.json
  public/mock/default.webp
  src/app/(route)/layout.tsx
  src/app/(route)/page.tsx
  src/app/(route)/post/[id]/page.tsx
  src/app/_types/post.ts
  src/app/api/mainPosts/route.ts
  src/app/api/post/route.ts
  src/app/components/edit/PostDeleteModal.tsx
  src/app/components/edit/PostEditModal.tsx
  src/app/components/main/MainContainer.tsx
  src/app/components/main/MainImages.tsx
  src/app/components/main/MainPost.tsx
  src/app/components/main/MainUpload.tsx
  src/app/components/messages/ChatPreviews.tsx
  src/app/components/messages/NewChatUsers.tsx
  src/app/components/post/PostDetail.tsx
  src/app/components/post/Repost.tsx
  src/app/components/post/RepostModal.tsx
  src/app/components/profile/EditProfileModal.tsx
  src/app/components/profile/MyProfile.tsx
  src/app/components/profile/OtherProfile.tsx
  src/app/constants/messages.ts
  src/app/constants/styles.ts
  src/app/service/deleteRequest.ts
  src/app/service/getRequest.ts
  src/app/service/patchRequest.ts
  src/app/service/postRequest.ts
  src/app/utils/callApi.ts
  src/app/utils/randomProfile.ts
Labels: 📬 API, 🔨 Refactor, ✨ Feature

#30 #27 팔로우, 팔로잉모달UI / 프로필필api연결
  package-lock.json
  package.json
  src/app/(route)/(profile)/myprofile/page.tsx
  src/app/(route)/(profile)/otherprofile/page.tsx
  src/app/_types/main.ts
  src/app/api/followApis/follower/route.ts
  src/app/api/followApis/following/route.ts
  src/app/components/profile/FollowerListModal.tsx
  src/app/components/profile/FollowingListModal.tsx
  src/app/components/profile/MyProfile.tsx
  src/app/components/profile/OtherProfile.tsx
  src/app/data/mockPost.ts
Labels: 📬 API, ✨ Feature, 🎨 Html&css
